body{
    background-color:lightslategray; 
}

#titulo {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:navy;
}

#rec1{
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(25, 145, 25);
    text-align: center;
}

#rec2{
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(54, 0, 99);
    text-align: center;
}

.imagenes{
    width: 400px;
}

.cont{
    float: left;
    width: 300px;
    margin-left: 20%;
}

#rec3{
    font-family: "Poetsen One", sans-serif;
    font-style: normal;
    color: black;
    text-align: center;
}

#rec4{
    font-family: "Poetsen One", sans-serif;
    font-style: normal;
    color: rgb(165, 138, 184);
    text-align: center;
}