<!DOCTYPE html>
<html lang="en">
<head>
    <title>ACTUALIZAR ARTISTA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-3 sidenav">
                <h4>IMPLANTACION DE APLICACIONES WEB - FASTAPI</h4>
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="/">INICIO</a></li>
                    {% if menu %}
                        <li class="active">
                            {% if menu.home %}
                                <a href="{{ url_for('get_hospitales') }}">VER HOSPITALES</a>
                            {% endif %}
                        </li>
                        <li class="active">   
                            {% if menu.add %}
                                <a href="{{ url_for('form_add_hospitales') }}">AÑADIR HOSPITALES</a>
                            {% endif %}
                        </li>
                        <li class="active">   
                            {% if menu.add %}
                                <a href="{{ url_for('form_delete_hospitales') }}">ELIMINAR HOSPITALES</a>
                            {% endif %}
                        </li>
                    {% endif %}
                </ul><br>
            </div>
            <div class="col-sm-9">
                <h3><small>HOSPITALES</small></h3>
                <hr>
                <h1>Actualizar Numero Pacientes</h1> <br>
                <form action="{{ url_for('update_hospital') }}" method="post">
                    <select name="hospital_id" required>
                        {% for hospital in hospitales %}
                            <option value="{{ hospital.id }}">{{ hospital.nombre }}</option>
                        {% endfor %}
                    </select>
                    <input type="text" name="nuevo_numero_pacientes" placeholder="Nuevo numero" required>
                    <input type="submit" value="Actualizar">
                </form>
            </div>
        </div>
    </div>
    <footer class="container-fluid">
        <p>STEVEN NATA IMPLANTACION DE APLICACIONES WEB</p>
    </footer>
</body>
</html>