{% extends "default.html" %}

{% block content %}
    <div class="col-sm-9">
        <h3><small>HOSPITALES</small></h3>
        <hr>
        <h2>HOSPITALES</h2>
        <!-- <h5><span class="glyphicon glyphicon-time"></span> Post by Jane Dane, Sep 27, 2015.</h5> -->
        <h5><span class="label label-danger">NUMERO</span> <span class="label label-primary">PACIENTES</span></h5><br>
        <p>Página para ver informacion sobre hospitales y numero de pacientes recogida en una base de datos</p>
        <br>
        <h4><small>RECENT POSTS</small></h4>
        <hr>
        <h2>HOSPITALES</h2>
        <!-- <h5><span class="glyphicon glyphicon-time"></span> Post by John Doe, Sep 24, 2015.</h5> -->
        <h5><span class="label label-success">Nuevo</span></h5><br>
        <p>Nuevo HOSPITALsdfsdfsdf</p>
        <hr>

    </div>
{% endblock %}